<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/') 
    } %> 
    
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<form id="loginForm" action="/account/login" method="post">
    <label for="email">Email:</label>
    <input id="emailInput" type="email" name="email" required>

    <label for="password">Password:</label>
    <span>Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter and 1 special character</span>
    <input id="passwordInput" type="password" name="password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">

    <input id="submitButton"  type="submit" value="Log In">

    <a href="./register">Sign Up</a>
</form>

