<h1>Welcome to CSE Motors!</h1>

<div class="hero">
    <h2>DMC Delorean</h2>
    <h3>3 Cup holders Superman doors Fuzzy Dice!</h3>
    <button>Own Today</button>
</div>
<img src="images/vehicles/delorean.jpg" alt="Delorean" id="delorean">